<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Filter List</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <!-- <div class="col-lg-2"></div> -->
            <% if(records.length >0){ %>
            <%   records.forEach(function(row){   %>

            <div class="col-lg-2" style="margin-right: 5%">
                <div class="card" style="width:200px;">
              <img class="card-img-top" src="uploads/<%= row.image %>" alt="Card image">
              <div class="card-body">
                <form method="Post" action="show_mentor_profile">

                <p class="card-title"><b><%= row.name  %></b></p>
                <h6 class="card-text">Domain: <%= domain %></h6>
                <h6 class="card-text">Email: <%= row.email %></h6>
                <input type="text" name="email" value="<%= row.email %>" hidden>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span><br><br>
                <button type="submit" name="submit" class="btn btn-primary" >See Profile</button>
              </form>
            </div>
            </div>
        </div>
        <%   })}else{ %>

        <h1>No records found </h1>
            <%  }  %>
            <!-- <div class="col-lg-3"></div> -->
        </div>
    </div>
</body>
</html>