<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> STARTUP PROFILE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="signup-login.css" type="text/css">
  </head>
  <body>

    <div class="container" style="width:40%;">
      <div class="row" >
</div>
           
      <!-- <div class="jumbotron"> -->
        <form method="post" action="chat">

          <h3 style="text-align:center;">Profile</h3>
          
          <img src="uploads/<%= data.image %>" alt="Cinque Terre" height="200px" width="200px" style="margin-left: 27%;" >
       
         <div class="form-group" >
          <label for="name">Name:</label>
          <input type="text" class="form-control"   value="<%= data.name  %> " disabled>
        </div>
            <div class="form-group" >
              <!-- <label for="name">Email id:</label>
              <input type="text" class="form-control"   value="<%= data.email %>" disabled> -->
              <input type="text" class="form-control" name="mentorEmail"  value="<%= data.email %>" hidden>
              <!-- <input type="text" class="form-control" name="startupEmail"  value="<%=   %> " > -->

            </div>
            <!-- <div class="form-group" >
            <label for="gender">Gender:</label> -->
            <!-- <label class="radio-inline"><input type="radio" name="gender" value="<%= data.gender  %>">Male</label>
            <label class="radio-inline"><input type="radio" name="gender" >Female</label> -->
            <!-- <p><%= data.gender;  %></p>
            </div> -->
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Success Stories:</label>
                <input class="form-control rounded-0" name="stories" value="<%= data.stories;  %>" rows="3" style="width:70%;" maxlength="500" placeholder="Describe in 500 characters only!!!" disabled/>
                <!-- </textarea> -->
              </div>
          <div class="form-group">
            <input type="email" class="form-control" id="Email1" name="email" value="<%= data.email; %> " hidden  >
          </div>
          <div class="form-group">
            <label for="sel1">Focus Sectors:</label>
            <input type="text" class="form-control"  name="sector1" value="<%= data.sector1;  %> "disabled >
            <input type="text" class="form-control"  name="sector2" value="<%= data.sector2;  %> " disabled >
            <input type="text" class="form-control"  name="sector3" value="<%= data.sector3;  %> " disabled>
          </div>
            <!-- <div class="form-group">
              <label for="mob no">Mobile No:</label>
              <input type="text" class="form-control"  value="<%= data.mobile;  %> " placeholder="Enter Mobile No" name="mobile" disabled>
            </div> -->
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Working Experiance:</label>
                <input class="form-control rounded-0" name="work_ex" value="<%= data.work_ex; %>" id="exampleFormControlTextarea1" rows="3" style="width:70%;" maxlength="500" placeholder="Describe in 500 characters only!!!" disabled>
                <!-- </textarea> -->
              </div>
              <div class="form-group">
                <label for="sel1">Working Experiance year:</label>
                <input type="text" class="form-control"  name="work_year" value="<%= data.work_year;  %> " disabled>

              </div>
              <div class="form-group">
                <label for="sel1">Perfection level:</label>
                <input type="text" class="form-control"  name="g_stages" value="<%= data.g_stages;  %> " disabled>
              </div>
              
          <div style="text-align:center;">
          <button type="submit" name="submit" class="btn btn-primary" >Connect now</button>

          </div>
        </form>
      </div> 
      </div>
    
  </body>
</html>
